@charset "UTF-8";
/* Police d'écriture */
/* Logo & titres */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
/* Textes */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "roboto", sans-serif;
}

/* Variables de couleurs */
/* Variables de couleurs */
.btn__explore {
  background: linear-gradient(163deg, #ee73da 0%, #a05bdc 100%);
  color: white;
  font-weight: 500;
  padding: 0.8rem;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
  margin-bottom: 3rem;
  box-shadow: 3px 3px 8px 0px #0000004f;
}
.btn__explore:hover {
  box-shadow: 3px 3px 8px 0px #0000008e;
  background: linear-gradient(163deg, #ff83dd 0%, #ff83dd 33%, #985ede 100%);
  transition: 500ms;
}

body {
  margin: 0%;
  padding: 0%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__logo {
  margin: 1rem;
}
.header__map {
  border-top: rgba(0, 0, 0, 0.062) 2px solid;
  background-color: rgba(230, 230, 230, 0.801);
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #2b2b2b;
  padding: 1rem 0rem 1rem 0rem;
  width: 100%;
}
.header .fa-map-marker-alt {
  margin-right: 1rem;
}

.reservation {
  display: flex;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: #f6f6f6;
}
.reservation__title {
  width: auto;
  font-weight: 600;
  font-size: 1.9rem;
  margin-bottom: 0%;
}
.reservation__undertitle {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: #959595;
}

.functionning {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.functionning__title {
  margin: 1rem 0rem 0rem 2rem;
}
.functionning__ul {
  list-style-type: none;
  padding: 0%;
  margin: 1rem 1rem 0rem 1rem;
}
.functionning__btn {
  display: flex;
  flex-direction: column;
  width: auto;
  padding-bottom: 1rem;
}
.functionning__list {
  cursor: pointer;
  padding: 1.5rem;
  font-size: 0.9rem;
  display: flex;
  width: 100%;
  font-weight: 550;
  font-family: "roboto", sans-serif;
  border-radius: 1rem;
  border: none;
  background: #f6f6f6;
  box-shadow: 2px 3px 20px 0px #2b2b2b7d;
}
.functionning__list:hover {
  background-color: #f2eafb;
}
.functionning__icon {
  margin-right: 2rem;
  margin-left: 1rem;
  color: #7e7e7e;
}
.functionning__icon:hover {
  color: #6c27be;
}

.restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f6f6f6;
}
.restaurant__card {
  display: flex;
  width: auto;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 1px 1px 20px 0px #2b2b2b7d;
}
.restaurant__linkcards {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 1rem;
}
.restaurant__linkcards img {
  display: flex;
  height: 220px;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0rem 0rem;
}
.restaurant__link {
  text-decoration: none;
  color: black;
}
.restaurant__body {
  display: flex;
  flex-direction: column;
}
.restaurant__title {
  margin: 0rem;
  padding: 1rem 2rem 0rem 1rem;
}
.restaurant__icon {
  font-size: 1.4rem;
  cursor: pointer;
  position: absolute;
  right: 40px;
  margin-top: 1rem;
}
.restaurant .fas {
  color: transparent;
  background-image: linear-gradient(350deg, #ff83dd 0%, #ff83dd 33%, #985ede 100%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.restaurant .fas:hover {
  opacity: 1;
  transform: scale(1.2);
}
.restaurant__txt {
  margin: 0rem;
  padding: 0.5rem 1rem 1rem 1rem;
}

/*# sourceMappingURL=style.css.map */
