@import "./Utils/variables";
@import "./Base/bases";
@import "./Layout/header";

.restaurant__card1{
    img{
        width: 100px;
        height: 100px;
    }
}
.restaurant__card2{
    img{
        color: $color-primary;
        width: 100px;
        height: 100px;
    }
}
.restaurant__card3{
    img{
        width: 100px;
        height: 100px;
    }
}
.restaurant__card4{
    img{
        width: 100px;
        height: 100px;
    }
}
