.functionning{
    display: flex;
    width: 100%;
    flex-direction: column;
    &__title{
        margin: 1rem 0rem 0rem 2rem;
    }
    &__ul{
        list-style-type: none;
        padding: 0%;
        margin: 1rem  1rem 0rem 1rem;
    }
    &__btn{
        display: flex;
        flex-direction: column;
        width: auto;
        padding-bottom: 1rem;
    }
    &__list{
        cursor: pointer;
        padding: 1.5rem;
        font-size: 0.9rem;
        display: flex;
        width: 100%;
        font-weight: 550;
        font-family: 'roboto', sans-serif;
        border-radius: 1rem;
        border: none;
        @include functionning-button;
        &:hover{
            background-color: lighten($color: $color-primary, $amount: 35);
        }
    }
    &__icon{
        margin-right: 2rem;
        margin-left: 1rem;
        color: #7e7e7e;
        &:hover{
            color: darken($color: $color-primary, $amount: 15);
        }
    }
}
