.header__menu{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem 1rem 0rem;
    padding: 0rem 1rem 0rem 1rem;
    a{
        display: flex;
        margin-right: auto;
        align-items: center;
        color: darken($color: $color-quaternary, $amount: 35);
        .header__logomenu{
            display: flex;
            width:100%;
            align-items: center;
        }
    }
}
