
.loading__page{
    color: $color-secondary;
    position: absolute;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.801);
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    animation: loading 5s ease-in-out;
    animation-fill-mode: both;
    i{
        display: flex;
        margin-top: 20%;
    }
}