@use "../Utils/variables";
// ** BACKGROUND IMAGE DES DIFFERENTS MENUS DE LA CARTE **//
.background__image{
    background-image: url("../images/image--3.jpg");
    background-size: cover;
    background-position: center;
    height: 15rem;
    position: relative;
    @media (min-width: variables.$breakpoint){
        background-position: center;
        max-width: 100%;
        height: 500px;
    }
}
.background__image2{
    background-image: url("../images/image--1.jpg");
    background-size: cover;
    background-position: center;
    height: 15rem;
    position: relative;
    @media (min-width: variables.$breakpoint){
        background-position: center;
        max-width: 100%;
        height: 500px;
    }
}
.background__image3{
    background-image: url("../images/image--2.jpg");
    background-size: cover;
    background-position: center;
    height: 15rem;
    position: relative;
    @media (min-width: variables.$breakpoint){
        background-position: center;
        max-width: 100%;
        height: 500px;
    }
}
.background__image4{
    background-image: url("../images/image--4.jpg");
    background-size: cover;
    background-position: center;
    height: 15rem;
    position: relative;
    @media (min-width: variables.$breakpoint){
        background-position: center;
        max-width: 100%;
        height: 500px;
    }
}

// ** STYLE DES MENUS DE LA CARTE ** //
.menu__title{
    position: absolute;
    width: 100%;
    bottom: 0%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    border-radius: 1rem 1rem 0rem 0rem;
    i{
        position: absolute;
        font-size: 1.5rem;
        right: 1rem;
        top: 1.4rem;
        margin-right: 1rem;
        cursor: pointer;
        @media (min-width: variables.$breakpoint){
            margin-right: 8%;
        }
    }
    h1{
        font-family: 'Shrikhand';
        margin: 0%;
        padding-left: 1rem;
        @media (min-width: variables.$breakpoint){
            margin-left: 8%;
            padding: 0%;
        }
    }.far{
        &:hover{
            color: transparent;
            opacity: 0;
        }
    }
    .fas{
        color: transparent;
        transition: ease-out all 400ms;
    }
    i:hover{
        transform: scale(1.3);
        background-image: $button-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 1;
    }
}
.menu__choice{
    h2{
        font-weight: lighter;
        color: lighten($color: black, $amount: 35);
        margin: 2rem 0 2rem 1rem;
        padding: 0%;
        font-size: 1rem;
        position: relative;
        
        @media (min-width: variables.$breakpoint){
            font-size: 1.2rem;
            margin-left: 8%;
        }
        #menu__bar--1::before{
            content: "";
            position: absolute;
            bottom: -0.5rem;
            height: 0.2rem;
            width: 2.5rem;
            left: 0rem;
            background-color: $color-tertiary;
        }
        #menu__bar--2::before{
            content: "";
            position: absolute;
            bottom: -0.5rem;
            height: 0.2rem;
            width: 2.5rem;
            left: 0rem;
            background-color: $color-tertiary;
        }
        #menu__bar--3::before{
            content: "";
            position: absolute;
            bottom: -0.5rem;
            height: 0.2rem;
            width: 2.5rem;
            left: 0rem;
            background-color: $color-tertiary;
        }
    }
}
