@use "../Utils/variables";
@use "../Utils/mixins";
@use "../Utils/animations";

.carte__bouton1{
    animation: menudelay 2s;
 }
 .carte__bouton2{
     animation: menudelay 2.5s;
 }
 .carte__bouton3{
     animation: menudelay 3s;
 }
 .carte__bouton4{
    animation: menudelay 3.5s;
 }
 .carte__bouton5{
     animation: menudelay 4s;
 }
 .carte__bouton6{
     animation: menudelay 4.5s;
 }
 .carte__bouton7{
    animation: menudelay 5s;
 }
 .carte__bouton8{
     animation: menudelay 5.5s;
 }
 .carte__bouton9{
     animation: menudelay 6s;
 }