@use "../Utils/variables";
@use "../Utils/mixins";

.menu__buttons{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    cursor: pointer;
    font-size: 0.9rem;
    height: 4rem;
    padding-bottom: 0.4rem;
    width: auto;
    font-weight: 550;
    font-family: 'roboto', sans-serif;
    border-radius: 0.7rem;
    @include functionning-button;
    @media (min-width: variables.$breakpoint){
        margin-left: 8%;
        margin-right: 8%;
    }

    h3{
        display: flex;
        padding: 0rem;
        font-weight: 550;
        margin: 0.8rem 0rem 0.3rem 1rem;
    }
    .menu__body{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0rem 1rem 0rem 1rem;
        h4{
            font-weight:lighter;
        }
        }
    }
.menuText__button{
    display: flex;
    justify-content: center;
}
    .btnText{
            background: $button-gradient;
            color: white;
            font-weight: 500;
            padding: 1rem 3rem 1rem 3rem;
            border-radius: 10rem;
            border: none;
            cursor: pointer;
            margin: 1rem 0rem 3rem 0rem;
            box-shadow: 3px 3px 8px 0px #0000004f;
        &.btnText:hover{
            @include light-button;
            transition: 500ms;
        }
    }
