@use "../Utils/variables";
@use "../Utils/mixins";
@use "../Utils/animations";

.section__menu{
    width: 100%;
}
.carte__bouton{
    display: flex;
    flex-direction: row-reverse;
    width: auto;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0rem 1rem 1rem 1rem;
    background-color: $reservation-background;
    box-shadow: 2px 2px 11px 0px #0000004f;
    cursor: pointer;
    border-radius: 1rem;
    @media (min-width: variables.$breakpoint){
        margin-left: 8%;
        margin-right: 8%;
    }
    &:active{
        .carte__checkIcon , .carte__prix{
                animation: check 1000ms;
                animation-fill-mode: forwards;
                transition: all 500ms cubic-bezier(0.120, 0.615, 0.690, 0.885);
            }
            i{
                animation: checkrotate 800ms;
                color: white;
            }
        }
    }
    .carte__body{
        display:flex;
        flex-direction: column;
        width:100%;
        padding: 0.75rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        h3,p{
        display: inline-block;
        max-width: calc(80%);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        }
        .carte__titre{
            h3{
                margin: 0rem 0rem 0.5rem 0rem;
                font-weight: 550;
            }
        }
        .carte__description{
            display: flex;
            flex-direction: row;
            max-width: calc(100%);
            justify-content: space-between;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            .carte__prix{
                font-weight: 550;
            }
        }
    }
    .carte__checkIcon{
        background-color: $color-tertiary;
        width: 5rem;
        display: flex;
        margin:0rem -5rem 0rem 0rem;
        justify-content: center;
        align-items: center;
    }
.carte__bouton1{
   animation: menudelay 1s;
}
.carte__bouton2{
    animation: menudelay 1.5s;
}
.carte__bouton3{
    animation: menudelay 2s;
}