@keyframes check{
    from{
        transform: translateX(-10%);
        margin-left: 3rem;
    }
    to{
        transform: translateX(-106.5%);
        margin-left: 3rem;
    }
}
@keyframes checkrotate{
    from{
        transform: rotate(-360deg);
    }
    to{
        transform: rotate(0deg);
    }
}

@keyframes menudelay{
    from{
        transition-duration: 1s;
        transition-delay: 0.5s;
        opacity: 0;
    }
    to{
        transition-duration: 1s;
        transition-delay: 0.5s;
        opacity: 1;
    }
}

@keyframes loading{
    from{
        opacity: 1;
        transition: 2s ease-in-out;
        z-index: 10;
    }
    to{
        opacity: 0;
        transition-delay: 2s ease-in-out;
        z-index: -1;
    }
}