/* Variables de couleurs */
$color-primary:#9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-quaternary: #959595;
$background-footer: #353535;
$reservation-background: #f6f6f6;
$button-gradient: linear-gradient(163deg, rgba(238,115,218,1) 0%, rgba(160,91,220,1) 100%);
$breakpoint: 767px;
